@import "~antd/lib/style/themes/default.less";

.main {
  display: block;
  margin-top: 52px;
}

.webContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: content-box;
  -moz-box-sizing: content-box; /* Firefox */
  -webkit-box-sizing: content-box; /* Safari */
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  width: 1000px;
  padding: 10px 16px;
  margin: 0 auto;
}

.contentMain {
  width: 694px;
  padding-bottom: 20px;
  margin-right: 10px;
}

.contentSider {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 14px;
}
